* {
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows:20vh auto 20vh;
    grid-template-areas: 
    "entete"
    "corps"
    "bas"
    ;
}

.entete {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-areas: 
    "entete-1 entete-2"
    ;
}

.entete-1 {
    padding: 5%;
    padding-right: 50%;
}

.entete-2 {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-areas: 
    "entete-2-1"
    "entete-2-2"
    "entete-2-3"
    "entete-2-4"
    ;
}

.entete-2 a {
    text-decoration: none;
    color: black;
}

.entete-2 a:hover {
    color: rgb(248,73,12);
}

.corps {
    display: grid;
    grid-template-rows: 40% 7.5% 25% 25% 2.5%;
    grid-template-areas: 
    "corps-1"
    "corps-15"
    "corps-2"
    "corps-3"
    "corps-35"
    ;
}

.corps-1 {
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-areas: 
    "corps-1-1"
    "corps-1-2"
    ;
}

.corps-1-1 {
    background-image: linear-gradient(rgba(10 , 0 , 0 , 0.5), rgba(10 , 0 , 0 , 0.5)) ,
    url('rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 250%;
}

.contain {
    margin-top: 5.15%;
    width: auto;
}

#foodapp {
    font-weight: 1000;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

#whystay {
    margin-top: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 4vw;
}

#download {
    font-weight: 800;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
}

.contain li {
    display: inline-block;
}

.contain button {
    border: 1px solid white;
    background-color: transparent;
    font-size: 2vw;
    border-radius: 35vw;
    cursor: pointer;
    padding: 1vw 4vw;
    margin: 0.75vw;
}

.contain button:hover {
    background-color: rgb(248,73,12);
    border: none;
}

.contain a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.corps-1 img {
    margin-top: -20%;
    margin-left: 22%;
    clip-path: polygon(0% 15%, 99% 16%, 99% 100%, 0% 100%);
}

.pageaccueil {
    text-align: center;
}

.corps-1-2 {
    position: relative;
}

.corps-15 {
    text-align: center;
    font-size: 300%;
    padding:0 20%;
}

.corps-15 h3 {
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    padding-top: 7%;
}

.corps-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "corps-2-1 corps-2-2"
    ;
}

.corps-2-1 {
    text-align: center;
} 

.corps-2-1 img {
    margin-left: 10%;
}

.corps-2-2 {
    padding-top: 30%;
}

#create {
    color: rgb(250, 74, 12);
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight: 700;
    line-height: normal;
}

#login {
    font-family: 'Montserrat', sans-serif;
    font-size: 350%;
    font-weight: 700;
    line-height: 7.5vh;
    margin-top: -5vh;
}

.corps-2-2 p {
    color: rgb(115, 115, 115);
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 700;
    line-height: 5vh;
    margin-top: -5vh;
}

.corps-3 {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-areas: 
    "corps-3-1 corps-3-2"
    ;
}


.corps-3-1 {
    padding-top: 30%;
}

.contain-3-1 {
    float: right;
}

#explore {
    color: rgb(250, 74, 12);
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight: 700;
    line-height: normal;
}

#shop {
    font-family: 'Montserrat', sans-serif;
    font-size: 350%;
    font-weight: 700;
    line-height: 7.5vh;
    margin-top: -5vh;
}

.corps-3-1 p {
    color: rgb(115, 115, 115);
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 600;
    line-height: 5vh;
    margin-top: -5vh;
}

.corps-3-2 {
    text-align: center;
} 

.bas {
    text-align: center;
    padding: 7vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "bas-1 bas-2 bas-3"
    ;
}

.bas-2 {
    display: grid;
    text-align: center;
    padding: 5% 25%;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-areas: 
    "bas-2-1 bas-2-2 bas-2-3"
    ;
}

.bas-3 {
    padding-top: 5%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
}

