*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid black;
    width: auto;
    height: 280vh;
}

.container div {
    display: grid;
    grid-template-columns: 10% 90%;
}

